body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-to-show {
    width: 400px;
    height: 400px;
  }

  .images-wrapper {
    display: flex;
    flex-direction: column;
  }

  button {
    font-size: 18px;
  }

